@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
.app {
  font-family: 'Montserrat', sans-serif;
  background-color: #292B35;
  color: white;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292B35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(142, 142, 142);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}